html, body {
		background-color: #F8F8F9;
		height:100%;
	}

#app {
	height: 100%
}

.ivu-table-header th {
	background-color: white
}

.ivu-select-selection {
	border-radius: 0px
}

.ivu-card-head {
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 14px;
	padding-left: 0px;
	margin-right: 16px;
	margin-left: 16px;
}

.carousel_container {
	min-height: 500px;
	background-color: rgba(230,230,230,1);
	position: relative;
}

.overlay {
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel {
	min-height: 500px
}

.middle_nav_container{
	background-color: white;
	display: flex;
	justify-content:center;
	padding-bottom: 20px
}

.info_graphics_container{
	min-height: 400px;
	background-color: white;
}

.products_container{
	display: flex;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.pricing_info_container{
	min-height: 200px;
	background-color: white;
}

.grid_container{
	background-color: white;
}

.m-header{
	background-color:white;
	min-height: 64px;
	/*border-bottom: 1px #F5F5F5 solid;*/
	box-shadow: 0 1px 1px rgba(0,0,0,.08);
	display: flex;
	align-items: center;
	padding-left: 170px;
	padding-right: 170px;
}

.ivu-loading-bar{
	top: 63px;
}

.m-main-div {
	height: 100%;
}

.m-flex {
	display:flex;
	height: 100%;
}

.m-flex-column {
	flex-direction: column;
}

m-side-nav {
	
}

m-main {
	
}